@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$verde-gradiente;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        img{
            max-width: 270px;
        }
        .linha {
            border-bottom: 1px solid variaveis.$roxo-escuro;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include mixins.ff-fs(variaveis.$ft-montserrat, 20px, variaveis.$roxo-escuro);
                font-weight: 500;
                transition: .3s;

                &:hover {
                    transform: scale(1.2);
                    font-weight: 700;
                }
            }
        }
    }

    #home {
        @include mixins.margem-central(80%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include mixins.row-wrap(768px);

        .textos-home {
            max-width: 474px;

            h1 {
                @include mixins.ff-fs(variaveis.$ft-krona, 40px, variaveis.$roxo-escuro);
                line-height: 4rem;

                span {
                    color: variaveis.$roxo-vibrante;
                }
            }

            .btn-main {
                background: variaveis.$roxo-vibrante;
                border: none;
                padding: 1.4rem 3rem;
                color: #fff;
                font-size: 1.4rem;
                border-radius: 3rem;
            }
        }

        .img-home {
            max-width: 474px;

            img {
                width: 100%;
            }
        }
    }
}