@use '../abstract/variaveis';
@use '../abstract/mixins';

#nosso-espaco {
    @include mixins.margem-central(80%);

    .detalhes {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        gap: 4rem;
        padding: 2rem 0;
        @include mixins.row-wrap(1020px);
        .imgs-espaco {
            max-width: 500px;
            display: inline-flex;
            gap: 1rem;
        }
        .espaco-textos {
            max-width: 500px;
            .titulo {
                @include mixins.ff-fs(variaveis.$ft-krona, 32px, variaveis.$roxo-vibrante)
            }
            .infos{
                @include mixins.ff-fs(variaveis.$ft-montserrat, 20px, variaveis.$roxo-escuro)
            }
            .separador {
                width: 100%;
            }
        }
    &:nth-child(2){
        flex-direction: row-reverse;
    }}
}