//Variáveis
//Cores
$roxo-escuro: #0c0421;
$roxo-vibrante: #4e75ff;
$roxo-calmante: #85a0ff;
$lilas: #CAD4FA;
$verde-calmante: #E8F5C8;
$verde-gradiente: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
$branco-gradiente: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
//Fontes
$ft-montserrat: 'Montserrat', sans-serif;
$ft-krona: 'Krona One', sans-serif;